@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans";
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(
    0deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(7, 0, 211, 1) 100%
  );
}

body::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh black;
}

.scrollbar-nav {
  scrollbar-width: thin;
  /* scrollbar-color: #b9b8b8 transparent; */
}

.scrollbar-nav::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-nav::-webkit-scrollbar-track {
  background: linear-gradient(#3b82f6, #9333ea);
  /* border-radius: 8px !important; */
  width: 10px;
}

.scrollbar-nav::-webkit-scrollbar-thumb {
  background: linear-gradient(
    rgb(134, 239, 172),
    rgb(59, 130, 246),
    rgb(147, 51, 234)
  );
}

.scrollbar-nav::-webkit-scrollbar-thumb:hover {
  background: rgba(185, 184, 184, 1);
}

.user_bg {
  width: 100%;
  height: 200px;
  background-image: url("./assets/user_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

/* src/index.css (or App.css) */
.pointer-events-none {
  pointer-events: none;
}
.fixed {
  position: fixed;
}
.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.absolute {
  position: absolute;
}
.rounded-full {
  border-radius: 9999px;
}
.bg-black {
  background: #9333ea;
}
.border {
  border-width: 1px;
}
.border-black {
  border-color: #9333ea;
}
.z-\[9999\] {
  z-index: 9999;
}


/* From Uiverse.io by mrpumps31232 */ 
.loading-wave {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loading-bar {
  width: 20px;
  height: 10px;
  margin: 0 5px;
  background-color: #3498db;
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 50px;
  }

  100% {
    height: 10px;
  }
}
